

<form method="post" action="/profiles/index" class="button_to" data-type="json">
	<div width="900px" align="center" id="my_div">
		<br />
		<table width="900px" cellpadding="2">
			<tr>
				<th width="20%" align="left" ">
					Select an object:
				</th>
				<td valign="middle">
					<%if @custom_object == nil %>
						<%= select_tag "custom_objects", options_for_select(@custom_objects.sort! { |a,b| a <=> b }) %>
					<%else%>
						<%= select_tag "custom_objects", options_for_select(@custom_objects.sort! { |a,b| a <=> b }, :selected => @custom_object) %>
					<%end%>
					&nbsp;&nbsp;
					<%= submit_tag "Update Values", :name => 'update' %>
				</td>
				<td align="right" valign="mmiddle"">
					<%if @custom_object != nil%>
					<%= submit_tag "Download Files", :name => 'download' %>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<%= submit_tag "Deploy", :name => 'deploy' %>
					<%end%>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="progress progress-striped active" width="400px">
					  <div class="bar" style="width: 100%;"></div>
					</div>
				</td>
			</tr>
		</table>
		<table width="900px" border="1" cellpadding="2" cellspacing="2" style="border-collapse: collapse;" >
			<tr>
				<th align="center">Read</th>
				<th align="center">Edit</th>
				<th align="center">Create</th>
				<th align="center">Delete</th>
				<th align="center">View All</th>
				<th align="center">Modify All</th>
				<th width="50%"></th>
			</tr>
			<tbody id="profile_list">
				<%
				@profiles = @profiles.sort! { |a,b| a <=> b }
				@profiles.each do |profile|
					if @custom_object != nil
						file_path = "tmp/profiles/" + profile + ".profile"
						file_name = File.basename("tmp/profiles/" + profile + ".profile", ".profile")
						file = File.open(file_path, 'r')
						file_contents = file.read
						file.close
						doc = Nokogiri::XML(file_contents)
						doc.remove_namespaces!
					end
				%>
				<%=render :partial => "permission_settings", :locals => {:file_name => file_name, :doc => doc} %>
				<%end%>
			</tbody>
		</table>
		<%= hidden_field_tag(:values, @profiles) %>
	</div>
</form>
